@import "./variables";
.text-effect {
    background-image: url("images/waterfall.jpg");
    background-position: center;
    color: transparent;
    font-family: 'Sofia', cursive;
    font-size: 6.5rem;
    transition: all 0.3s;
    -webkit-background-clip: text;
}

.text-effect:hover {
    transform: skewY(25deg);
    letter-spacing: 2rem;
}