@import "./variables";
@import "_btn.scss";
@import "_sunset.scss";
@import "_texteffects.scss";
@import "_nature.scss";
@import "_explore.scss";

/* html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; // 1rem === 10px; 
} */

.container {
    width: 80vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}